@font-face {
    font-family: 'AmeliaBasic';
    src: url('../fonts/Amelia-Basic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AmeliaBasic-Bold';
    src: url('../fonts/Amelia-Basic-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'AmeliaBasic-Italic';
    src: url('../fonts/Amelia-Basic-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Essentials-Regular';
    src: url('../fonts/Essentials-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Essentials-Italic';
    src: url('../fonts/Essentials-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Bahnschrift';
    src: url('../fonts/BAHNSCHRIFT.TTF') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Balgor';
    src: url('../fonts/Balgor.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'AmeliaBasic', sans-serif;
}