body {
    background-image: url('/public/img/background.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  body::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  body::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  body::-webkit-scrollbar-thumb {
    background: #000000;
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  body::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
  }
  body::-webkit-scrollbar-thumb:active {
    background: #000000;
  }
  body::-webkit-scrollbar-track {
    background: #666666;
    border: 0px none #ffffff;
    border-radius: 43px;
  }
  body::-webkit-scrollbar-track:hover {
    background: #666666;
  }
  body::-webkit-scrollbar-track:active {
    background: #333333;
  }
  body::-webkit-scrollbar-corner {
    background: transparent;
  }
  
  /* Container principal */
  .cadastro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
  }
  
  /* Card principal */
  .cadastro-card {
    display: flex;
    width: 1100px;
    background: #D9D9D9;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  /* Lado esquerdo - imagem */
  .cadastro-left {
    width: 50%;
  }
  
  .cadastro-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Lado direito - formulário */
  .cadastro-right {
    width: 50%;
    padding: 30px;
  }
  
  .cadastro-right h1 {
    text-align: center;
    font-family: Anuphan, sans-serif;
    font-size: 34px;
    font-weight: 200;
    margin-bottom: 20px;
  }

  .cadastro-right b {
    font-family: Anuphan-bold, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  
  /* Campos de entrada */
  .cadastro-label {
    font-family: muller-medium, sans-serif;
    margin-bottom: 0;
    display: block;
  }
  
  .cadastro-input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: transparent;
  }

  .cadastro-input:focus {
    border: none;
  }

  .cadastro-input::placeholder {
    color: #8a8a8a;
  }
  
  /* Agrupamento de input e select */
  .cadastro-input-group {
    display: flex;
    gap: 10px;
  }
  
  .cadastro-select {
    width: 25%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Título das vagas */
  .cadastro-vaga-title {
    font-weight: bold;
    font-family: Muller, sans-serif;
    font-size: 18px;
    margin: 10px 0;
  }
  
  /* Opções de vagas */
  .cadastro-vaga-options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .cadastro-vaga-label {
    display: flex;
    align-items: center;
    font-family: Muller, sans-serif;
    gap: 5px;
  }
  
  /* Upload de arquivos */
  .cadastro-upload-section {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  .cadastro-upload-box {
    flex: 1;
    background: #222;
    color: #C6B29A;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
  }

  .cadastro-upload-box h6 {
    margin-bottom: 0;
    margin-top: 15px;
    font-size: 16px;
  }
  
  .cadastro-upload-subtitle {
    font-size: 12px;
  }
  
  .cadastro-upload-box p {
    margin-top: 0;
  }
  
  .cadastro-upload-area {
    border: 2px dashed #515151;
    padding: 30px;
    cursor: pointer;
    margin-top: 5px;
  }
  
  /* Checkbox */
  .cadastro-privacy-checkbox {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
  }
  
  .cadastro-privacy-link {
    color: red;
    text-decoration: underline;
  }
  
  /* Botão de envio */
  .cadastro-submit-button {
    width: 100%;
    background: orange;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .cadastro-submit-button:hover {
    background: darkorange;
  }
  
  /* Rodapé */
  .cadastro-footer {
    text-align: center;
    color: #DFBE97;
  }

  .cadastro-footer p {
    letter-spacing: 5px;
  }

  .cadastro-button {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  



  .input-error {
    border: 2px solid red !important;
    background-color: #ffe6e6;
  }
  





  /* From Uiverse.io by adamgiebl */ 
.cyberpunk-checkbox {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #757575;
    border-radius: 5px;
    background-color: transparent;
    display: inline-block;
    position: relative;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .cyberpunk-checkbox:before {
    content: "";
    background-color: #757575;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 10px;
    height: 10px;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
  }
  
  .cyberpunk-checkbox:checked:before {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .cyberpunk-checkbox-label {
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
  }




  /* Responsividade */
  @media (min-width: 1200px) {
    .cadastro-container {
      overflow-y: hidden;
    }
    
  }

  @media (max-width: 1200px) {
    .cadastro-card {
      width: 90%;
    }
  }

  @media (max-width: 1024px) {
    
    .cadastro-left {
      height: 400px;
      width: 100%;
    }

    .cadastro-left img {
      object-position: 0 85%;
    }

    .cadastro-right {
      padding: 20px;
      overflow: hidden;
    }

    .cadastro-form {
      width: 100%;
    }

    .cadastro-input {
      width: 97%;
    }

    .cadastro-label {
      width: 70%;
    }

    .cadastro-card {
      flex-direction: column;
      width: 80%;
    }

    .cadastro-right {
      width: 94%;
    }

    .cadastro-upload-section {
      flex-direction: column;
    }

    .cadastro-upload-box {
      margin-bottom: 10px;
      width: 50%;
      margin: 0 auto;
    }

    .cadastro-vaga-options {
      grid-template-columns: 1fr;
    }

    .cadastro-vaga-content {
      width: 70%;
      padding-bottom: 50px;
    }
  }
  
  @media (max-width: 810px) {

    .cadastro-left {
      height: 400px;
      width: 100%;
    }

    .cadastro-left img {
      object-position: 0 85%;
    }

    .cadastro-right {
      padding: 20px;
      overflow: hidden;
    }

    .cadastro-form {
      width: 100%;
    }

    .cadastro-input {
      width: 97%;
    }

    .cadastro-label {
      width: 70%;
    }

    .cadastro-card {
      flex-direction: column;
      width: 100%;
    }

    .cadastro-right {
      width: 94%;
    }

    .cadastro-upload-section {
      flex-direction: column;
    }

    .cadastro-upload-box {
      margin-bottom: 10px;
      width: 50%;
      margin: 0 auto;
    }

    .cadastro-vaga-options {
      grid-template-columns: 1fr;
    }

    .cadastro-vaga-content {
      width: 70%;
      padding-bottom: 50px;
    }
  }

  @media (max-width: 480px) {

    .cadastro-left {
      height: 200px;
    }

    .cadastro-left img {
      object-position: 0 84%;
    }

    .cadastro-right {
      padding: 20px;
      width: 90%;
      overflow: hidden;
    }

    .cadastro-right h1 {
      font-size: 24px;
    }

    .cadastro-input, .cadastro-select {
      padding: 8px;
    }
    
    .cadastro-input {
      width: 75%;
    }

    .cadastro-vaga-content {
      padding-bottom: 60px;
    }

    .cadastro-upload-section {
      width: 100%;
    }

    .cadastro-privacy-checkbox label {
      font-size: 12px;
    }

    .cadastro-submit-button {
      padding: 8px;
    }
  }

  @media (min-width: 1600px) {
    .cadastro-card {
      width: 1200px;
    }

    .cadastro-right h1 {
      font-size: 36px;
    }

    .cadastro-input, .cadastro-select {
      padding: 12px;
    }

    .cadastro-submit-button {
      padding: 12px;
    }
  }